@import "tailwindcss";

@theme {
  --color-primary: oklch(0.704 0.14 182.503);
  --color-dark: oklch(0.129 0.042 264.695);
  --color-secondary: oklch(0.554 0.046 257.417);
  --breakpoint-2xl: 1320px;
  --animate-fadeInUp: fadeInUp 3s ease-out forwards;
  --animate-spinReverse: spinReverse 1s linear infinite;
  --animate-spin: spin 1s linear infinite;
  --animate-spinUp: spinUp 1s linear infinite;
}

/* animasi */

@keyframes spinReverse {
  to {
    transform: rotate(-360deg);
  }
}
@keyframes spinUp {
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(130px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUpText {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@layer base {
  .container {
    max-width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
  }

  @keyframes scaleUp {
    from {
      opacity: 0;
      transform: scaleY(0);
    }
    to {
      opacity: 1;
      transform: scaleY(1);
    }
  }
}

@layer components {
  .hamburger-line {
    @apply w-[30px] h-[2px] my-2 block bg-dark;
  }

  .hamburger-active > span:nth-child(1) {
    @apply rotate-45;
  }

  .hamburger-active > span:nth-child(2) {
    @apply scale-0;
  }

  .hamburger-active > span:nth-child(3) {
    @apply -rotate-45;
  }

  .hamburger-line {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px auto;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
}

.navbar-fixed {
  @apply fixed z-[9999] bg-white/70 backdrop-blur-sm;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}

body {
  font-family: "Inter", sans-serif;
}

.text-hidden {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.text-show {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.text-up {
  opacity: 0;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

.text-lead {
  opacity: 1 !important;
  transform: scaleY(1) !important;
}

.marquee-container {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.marquee-content {
  display: flex;
  gap: 4rem; /* Jarak antar logo */
  animation: marquee 15s linear infinite;
}

.marquee-content:hover {
  animation-play-state: paused; /* Berhenti saat dihover */
}
